@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap');


/*  ===== CSS Variables ===== */
:root {
  --title-color: rgb(0, 130, 181);
  --background: white;
  --txt-color: rgb(34, 34, 34);
  --label-bg: aliceblue;
  --label-txt: rgb(0, 130, 181);
  --border-color: rgb(0, 130, 181);
  --code-left-color: rgb(254, 254, 254);
  --code-right-color: rgb(240, 249, 255);
  --jwt-border: rgb(86, 167, 199);
  --logout-bg: rgb(255, 217, 206); 
  --logout-txt: rgb(0, 130, 181);
  --logout-border: rgb(0, 130, 181);
  --docs-bg: aliceblue;
  --docs-border: rgb(0, 130, 181);
  --navbar-btn: rgb(0, 130, 181);
  --navbar-btn-bg: rgb(221, 240, 255);
  --box-shadow1: rgb(177, 219, 255);
  --box-shadow2: rgb(195, 227, 255);
  --box-shadow3: rgb(195, 227, 255);
  --box-shadow4: rgb(195, 227, 255);
  --box-shadow5: rgb(177, 219, 255);
  --box-shadow6: rgb(195, 227, 255);
}
[data-theme="dark"] {
  --title-color: rgb(62, 207, 255);
  --background: rgb(0, 0, 0);
  --txt-color: rgb(217, 217, 217);
  --label-bg: rgb(23, 23, 23);
  --label-txt: rgb(62, 207, 255);
  --border-color: rgb(36, 145, 189);
  --code-left-color: rgb(27, 27, 27);
  --code-right-color: rgb(21, 21, 21);
  --jwt-border: rgb(58, 58, 58);
  --logout-bg: rgb(61, 28, 28); 
  --logout-txt: rgb(62, 207, 255);
  --logout-border: rgb(61, 169, 206);
  --docs-bg: rgb(29, 29, 29);
  --docs-border: rgb(53, 128, 158);
  --navbar-btn: rgb(235, 229, 120);
  --navbar-btn-bg: rgb(34, 34, 34);
  --box-shadow1: rgb(30, 30, 30);
  --box-shadow2: rgb(73, 69, 69);
  --box-shadow3: rgb(110, 157, 198);
  --box-shadow4: rgb(12, 119, 207);
  --box-shadow5: rgb(20, 68, 112);
  --box-shadow6: rgb(47, 184, 229);
}


/*  ===== html + body ===== */
html, body {
  font-family: 'JetBrains Mono', monospace;
  margin: 0;
  height: 100%;
  color: var(--txt-color);
  background-color: var(--background);
}


/* ===== Navbar ===== */
.theme-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--navbar-btn);
  background-color: var(--navbar-btn-bg);
  width: 6vh;
  height: 6vh;
  margin: -1vh;
}


/*  ===== Fonts + Sizes ===== */
.title {
  color: var(--title-color);
}
h1 {
  font-size: 3.0em;
  margin: 0;
  margin: 2vh;
  background-image: linear-gradient(84.37deg,#0081b3 2.3%,#0ff 34.46%,#6fef2d 67.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
p {
  font-size: 1.2em;
  width: 70vw;
  margin: 0;
  margin-bottom: 4vh;
}


/*  ===== Flex boxes ===== */
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 4vh;
  padding-bottom: 5vh;
}
.flex-row {
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  height: 100%;
  align-items: stretch;
  margin: 0;
}
.no-padding {
  padding: 0;
}


/* ===== Descope Widget ===== */
.descope-widget {
  padding: 3vh;
  border: 2px solid var(--logout-border);
  width: fit-content;
  box-shadow: 0px 0px 5px var(--box-shadow1), 0px 0px 10px var(--box-shadow2), 0px 0px 15px var(--box-shadow3);
}
.descope-p {
  margin: 1vh auto; 
  width: fit-content;
  /* margin: 0 auto; */
}


/*  ===== Displaying the JWT Info ===== */
.jwt-border {
  border: 3px solid var(--jwt-border);
  box-shadow: 0px 0px 5px var(--box-shadow4), 0px 0px 20px var(--box-shadow5), 0px 0px 25px var(--box-shadow6);
  padding: 0;
}
.jwt-container {
  flex: 1;
  font-size: 1.4em;
  text-align: left;
  background-color: var(--code-left-color);
  padding: 3vh;
  overflow-x: scroll;
}
.right-jwt {
  background-color: var(--code-right-color);
}


/*  ===== The Labels ===== */
.label-container {
  margin-bottom: 5vh;
  padding: 0;
  align-items: center;
}
.label {
  border: 2px solid var(--border-color);
  margin: 0;
  padding: 2vh;
  display: inline-block;
  width: 20vh;
  vertical-align: middle;
  font-size: 1em;
  color: rgb(0, 130, 181);
}
.light-blue {
  color: var(--label-txt);
  background-color: var(--label-bg);
}
.dark-blue {
  background-color: rgb(0, 130, 181);
  color: aliceblue;
  overflow-x: scroll;
}


/*  ===== Error ===== */
.example {
  background-color: aliceblue;
  color: rgb(0, 105, 149);
  padding: 3vh;
  border: 3px solid rgb(0, 130, 181);
  word-wrap: break-word;
  cursor: pointer;
}
.underlined {
  text-decoration: underline;
}


/*  ===== Logout button ===== */
.logout-btn {
  background-color: var(--logout-bg);
  color: red;
}


/* Documentation at bottom */
.doc-space {
  padding: 0;
  margin-top: 4vh;
  max-width: 90vw;
}
.doc-box {
  flex: 1;
  align-items: flex-start;
  text-align: left;
  padding: 2vh;
  background-color: var(--docs-bg);
  margin: 2vh;
}
.doc-title {
  color: var(--title-color);
  font-size: 1.5em;
  text-decoration: none;
  margin-left: 1vh;
}
.title-container {
  height: fit-content;
  margin-bottom: 2vh;
  color: var(--title-color);
}
.doc-txt {
  width: fit-content;
  font-size: 1em;
  margin:0;
}